.album-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-page img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.album-page h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.album-page p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.album-page h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.album-page ul {
    list-style-type: none;
    padding: 0;
}

.album-page li {
    font-size: 1rem;
    margin-bottom: 5px;
}
.track-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .track-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  }
  
  .buy-button.small {
    font-size: 0.8rem;
    padding: 6px 10px;
    border-radius: 4px;
  }


  .lista_espaciada {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }

  .ind_cancion {
    font-size: 0.9rem;
    color: black;
  }

  .tag {
    background-color: #1DA0C3; /* Fondo azul */
    color: #000000;         /* Texto negro para mejorar contraste */
    padding: 2px 6px;      /* Espaciado dentro de la cajita */
    border-radius: 10px;    /* Bordes redondeados */
    display: inline-block;  /* Para que se ajuste al contenido */
    font-size: 0.9rem;      /* Ajusta el tamaño de la fuente si es necesario */
  }

  .precio {
    font-size: 2rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Negrita para destacar el precio */
    color: #000000; /* Un color azul, o puedes elegir uno que resalte */
    margin: 5px 0; /* Espaciado alrededor del precio */
    display: inline-block; /* Para asegurarse de que se quede en la misma línea */
  }

  .precio .decimales {
    font-size: 1rem; /* Tamaño más pequeño para los decimales */
    vertical-align: baseline; /* Para alinearlos un poco más abajo */
  }
  .track-number {
    width: 30px;
    text-align: right;
    padding-right: 8px;
    font-variant-numeric: tabular-nums;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .track-container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }