.carrito-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza el contenido principal horizontalmente */
  position: relative; /* Para posicionar el contenedor flotante */
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la ventana */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
  background-color: #ffffff; /* Fondo blanco */
}
.cart-summary {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.cart-summary h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.cart-summary p {
  margin: 5px 0;
  font-size: 14px;
}

.proceed-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #1da0c3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart-item span {
  font-size: 14px;
  margin-bottom: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.quantity-controls button {
  padding: 3px 6px;
  font-size: 12px;
  background-color: #1da0c3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-controls span {
  font-size: 14px;
}

.remove-button {
  padding: 3px 6px;
  font-size: 12px;
  background-color: red;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
}