.tshirt-page {
    display: flex;
    max-width: 1200px; /* Aumentar el ancho m치ximo de la p치gina */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 40px; /* Aumentar el espacio entre la imagen y los detalles */
    align-items: flex-start;
    text-align: left; /* Alinear el texto a la izquierda */
}

.tshirt-page img {
    max-width: 40%; /* Limitar el ancho de la imagen al 40% del contenedor */
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.tshirt-details {
    width: 60%; /* Aumentar el ancho de la caja de detalles al 60% */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tshirt-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.tshirt-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666; /* Color gris para la descripci칩n */
}

.price-box {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.price-text {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
}

.shipping-time {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Nuevo estilo para el bot칩n de compra */
.buy-button {
    background-color: #1da0c3;
    color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    transition: background-color 0.2s, transform 0.1s;
}

.buy-button:hover {
    background-color: #1788a3;
}

.buy-button:active {
    background-color: #0f6d82;
    transform: scale(0.95);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.buy-button.buy-now {
    background-color: #1da0c3;
    color: rgb(0, 0, 0);
    border: none;
}

.buy-button.buy-now:hover {
    background-color: #1788a3;
}

.buy-button.buy-now:active {
    background-color: #0f6d82;
    transform: scale(0.95);
}